{% extends 'dashboard-base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/new-subscription-dialog.css') }}">
    <link rel="stylesheet" href="{{ asset('css/new-video-page.css') }}">
{% endblock %}

{% set navLogo = '/img/manager.png' %}
{% set dashboardController = 'publisherDashboardController' %}

{% block navTabs %}
    <li class="nav-tab-profile" ng-click="changeTab(0)" ng-class="{'nav-tab-active': tabNr == 0}"></li>
    <li class="nav-tab-videos" ng-click="changeTab(1)" ng-class="{'nav-tab-active': tabNr == 1}"></li>
    <li class="nav-tab-subscriptions" ng-click="changeTab(2)" ng-class="{'nav-tab-active': tabNr == 2}"></li>
    <li class="nav-tab-logout" ng-click="logout()"></li>
{% endblock %}

{% block dashboardContent %}
    <div ng-show="tabNr == 0">
        {{ include('Publisher/publisher-profile.html.twig') }}
    </div>

    <div ng-show="tabNr == 1">
        {{ include('Publisher/publisher-my-videos.html.twig') }}
    </div>

    <div ng-show="tabNr == 2">
        {{ include('Publisher/publisher-subscriptions.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.tiny.cloud/1/lbkagxmom1mkkunj9dpyxiztf2km8gbfkfbedqthi6utk4hz/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="{{ asset('js/controller/publisher/publisher-dashboard-controller.js') }}"></script>
    <script src="{{ asset('js/controller/publisher/publisher-profile-controller.js') }}"></script>
    <script src="{{ asset('js/util/new-subscription-dialog.js') }}"></script>
    <script src="{{ asset('js/controller/publisher/publisher-subscriptions-controller.js') }}"></script>
    <script src="{{ asset('js/controller/publisher/publisher-my-videos-controller.js') }}"></script>
    <script src="{{ asset('js/util/embed-code-input.js') }}"></script>
    <script src="{{ asset('js/util/video-player-select.js') }}"></script>
    <script src="{{ asset('js/util/video-description-editor.js') }}"></script>
    <script>
        newSubscriptionDialog.init();
        const deleteVideoDialog = new ModalDialog('delete-video-dialog');
        const deleteSubDialog = new ModalDialog('delete-sub-dialog');
    </script>
{% endblock %}
