{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('font/fontawesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/dashboard-nav.css') }}">
    <link rel="stylesheet" href="{{ asset('css/user-data-form.css') }}">
    <link rel="stylesheet" href="{{ asset('css/user-profile.css') }}">
    <link rel="stylesheet" href="{{ asset('css/subscriptions.css') }}">
    <link rel="stylesheet" href="{{ asset('css/my-videos.css') }}">
    <link rel="stylesheet" href="{{ asset('lib/tooltip/css/balloon.css') }}">
{% endblock %}

{% block body %}
    <div class="dashboard-flex" ng-controller="{{ dashboardController }}">
        <nav>
            <img src="{{ navLogo }}" alt="nav logo">
            <ol>
                {% block navTabs %}{% endblock %}
            </ol>
        </nav>
        <div id="dashboard-content">
            {% block dashboardContent %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/controller/dashboard-controller.js') }}"></script>
    <script src="{{ asset('js/controller/subscriptions-controller.js') }}"></script>
    <script src="{{ asset('js/controller/my-videos-controller.js') }}"></script>
    <script src="{{ asset('js/util/user.js') }}"></script>
    <script src="{{ asset('js/util/subscriptions.js') }}"></script>
    <script src="{{ asset('js/util/videos-view.js') }}"></script>
    <script src="{{ asset('js/util/autocomplete-search.js') }}"></script>
    <script src="{{ asset('js/util/video-player/videojs.js') }}"></script>
    <script src="{{ asset('js/util/video-player/youtube.js') }}"></script>
    <script src="{{ asset('js/util/video-player-bootstrapper.js') }}"></script>
    <script src="{{ asset('js/util/modal-dialog.js') }}"></script>
    <script>
        subscriptions.init();
    </script>
{% endblock %}
