<div class="subscriptions-content" ng-controller="{% block subsController %}{% endblock %}">
    <div class="subscriptions-filters-flex">
        <div class="sub-radios-container">
            <label>
                <input type="radio" class="with-gap" name="subFilterRadios"
                       ng-click="filterSubscriptions('all-subs')" checked>
                <span>All subscriptions</span>
            </label><br>
            <label>
                <input type="radio" class="with-gap" name="subFilterRadios"
                       ng-click="filterSubscriptions('my-subs')">
                <span>{% block showMySubs %}{% endblock %}</span>
            </label>
            {% block showSubsRadios %}{% endblock %}
        </div>
        {% block subPanelBtns %}{% endblock %}
    </div>

    <div class="subscriptions">
        <ul class="collapsible">
            <li ng-repeat="sub in subscriptions">
                <div class="collapsible-header">
                    <div class="subscription-flex">
                        <div>
                            {% verbatim %}
                            <h6><b>{{ sub.name }}</b></h6>
                            <span>Company: <b>{{ sub.publisher.company }}</b></span>
                            <span ng-if="sub.publisher.companyWebsite"><br>Company website:
                                <a href="{{sub.publisher.companyWebsite}}">{{ sub.publisher.companyWebsite }}</a>
                            </span>
                            {% endverbatim %}
                            {% block subscriptionInfo %}{% endblock %}
                            <span ng-if="{% block showSubPriceIf %}true{% endblock %}">
                                {% verbatim %}Price: <b class="sub-price">{{sub.price}}&euro;</b>{% endverbatim %}
                            </span>
                        </div>
                        {% block subscriptionFlex %}{% endblock %}
                    </div>
                </div>
                <div class="collapsible-body">
                    <ul class="subscription-videos">
                        {% verbatim %}
                        <li ng-repeat="video in sub.videos">
                            <img src="{{video.posterUrl}}" alt="&#x1F3A5;">
                            {{video.title}}
                        </li>
                        {% endverbatim %}
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    {% block content %}{% endblock %}
</div>
